<<<<<<< HEAD
body {
    color: purple;
}

section {
    color: aqua;
}

form {
    color: greenyellow;
}

button, input {
    color: inherit;
=======
body {
    color: purple;
}

section {
    color: aqua;
}

form {
    color: greenyellow;
}

button, input {
    color: inherit;
>>>>>>> fa8167f36584f4d021160bd32bd893d97b18c3b4
}