body {
    background-image: url("../img/weather_bg.jpg");
    background-size: cover;
}

.show-results {
    height: 200px;
    width: 400px;
}

.notification-bg {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.danger-alert {
    background-color: #6284FF;
    background-image: linear-gradient(180deg, #6284FF 0%, #FFFFFF 1%, #FF0000 100%);

}