<<<<<<< HEAD

.taged_paragraph{
    color:#e76f51;
}


.post a{
    text-decoration: none;
    font-weight: 700;
}


a:hover{
    color: #480ca8;
    text-decoration: underline;
}



.post:nth-of-type(3n){
    background-color: #5390d9;
}

h1::first-letter,p::first-letter{
    font-size: 48px;
    color: #480ca8;
}

.post button:hover{
    background-color: #edf6f9;
    color: #f8edeb;
    
}

button:hover{
    background-color: olive;
=======

.taged_paragraph{
    color:#e76f51;
}


.post a{
    text-decoration: none;
    font-weight: 700;
}


a:hover{
    color: #480ca8;
    text-decoration: underline;
}



.post:nth-of-type(3n){
    background-color: #5390d9;
}

h1::first-letter,p::first-letter{
    font-size: 48px;
    color: #480ca8;
}

.post button:hover{
    background-color: #edf6f9;
    color: #f8edeb;
    
}

button:hover{
    background-color: olive;
>>>>>>> fa8167f36584f4d021160bd32bd893d97b18c3b4
}