/* section:first-of-type(1) h1:nth-of-type(1){
    border-style: dotted;
    /* border:5px; */
/* }  */

/* body {
    background-image: url("cadillac\ escalade.jpg");
    background-size: auto;
    width: 80%;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: red;
} */

body {
    font-family: 'Roboto', sans-seri;
}

main {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-weight: 100%;
}